code,
pre,
kbd,
samp {
  font-family: var(--font-mono);
  background-color: var(--code-bg-color);
  color: #fff;
  padding: 0.05rem 0.2rem;
  border-radius: 0.25rem;
  font-size: 0.9rem;
}
code[class*="language-"],
pre[class*="language-"] {
  font-size: 0.8rem;
}
.article-date {
  white-space: nowrap;
  margin-right: 1rem;
}

article img {
  max-width: 100%;
  border-radius: 0.3em;
  height: auto;
}
article blockquote {
  border-left: 0.5rem solid var(--link-color);
  margin-left: 0;
  padding-left: 2rem;
  margin-right: 2rem;
}

article li {
  margin-bottom: 0.5rem;
}

article img + em {
  font-size: 0.8rem;
}
article img ~ em {
  text-align: center;
  display: inline-block;
  width: 100%;
}
.text-center {
  text-align: center;
}
table {
  display: block;
  border-collapse: collapse;
}
tr {
  display: block;
}
thead {
  display: block;
}
tbody {
  display: block;
}
tfoot {
  display: block;
}
col {
  display: none;
}
colgroup {
  display: none;
}
td,
th {
  display: block;
  border: 1px solid var(--body-color-secondary);
  padding: 2px;
  font-size: 1rem;
}
th {
  text-align: left;
}
tr {
  margin-bottom: 10px;
  border: 1px solid var(--body-color-secondary);
}
caption {
  display: block;
}
pre {
  font-size: 0.9rem;
}
.form {
  display: grid;
  grid-template-columns: 1fr;
  max-width: 30rem;
  margin: 3rem auto 0 auto;
}
.form-element {
  margin-bottom: 1rem;
  padding: 0.5rem;
  border-radius: 4px;
  font-size: 1rem;
  line-height: 1.5rem;
  border: 1px solid var(--body-color-secondary);
}
.form-button {
  background-color: var(--link-color);
  border: 1px solid var(--link-color);
  color: #fff;
  text-align: center;
}
.news-box {
  background-color: var(--box-bg-color);
  border-radius: 0.5rem;
  padding: 1rem;
  font-size: 1rem;
  line-height: 1.1;
  margin-bottom: 0.25rem;
  margin-top: 2rem;
  margin-bottom: 2rem;
  border: 1px solid var(--box-border-color);
}
.news-content {
  margin: 0 auto;
  max-width: 30rem;
}
.news-heading {
  font-weight: bold;
  font-size: 1.13rem;
  margin-top: 0;
  margin-bottom: 0.2rem;
}
.news-box .form {
  margin-top: 1rem;
  margin-bottom: 0;
}
.news-box .form-button {
  margin-bottom: 0;
}
.product {
  background-color: var(--box-bg-color);
  border-radius: 0.5rem;
  margin: 2rem 0;
  border: 1px solid #33333308;
}
.product-img {
  width: 100%;
}
.product-title {
  font-size: 1.2rem;
  padding: 1rem 1rem 0.5rem 1rem;
  font-weight: bold;
}
.product-body {
  padding: 0 1rem;
  margin-top: 0;
  color: #000;
}
.product-cta,
.product-cta:visited,
.product-cta:active {
  margin: 0 1rem 1rem 1rem;
  color: white;
  display: inline-block;
  padding: 0.5rem;
  background-color: var(--link-color);
  border-radius: 0.25rem;
  cursor: pointer;
  text-decoration: none;
}

.series {
  background-color: var(--box-bg-color2);
  border-radius: 0.5rem;
  margin: 2rem 0;
  border: 1px solid var(--box-border-color);
}
.series-heading {
  font-size: 1.2rem;
  padding: 1rem 1rem 0rem 1rem;
  font-weight: bold;
  margin: 0;
}
.series-body {
  padding: 0rem 1rem;
  margin: 0;
  font-size: 0.9rem;
}
.series-list {
  font-size: 0.9rem;
  margin-top: 0.5rem;
  margin-bottom: 1rem;
  line-height: 1;
}
.series-list a {
  padding: 0.9rem;
  display: inline-block;
}
.video {
  aspect-ratio: 16 / 9;
  width: 100%;
  border-radius: 0.3rem;
}

@media screen and (min-width: 48rem) {
  table {
    display: table;
  }
  tr {
    display: table-row;
  }
  thead {
    display: table-header-group;
  }
  tbody {
    display: table-row-group;
  }
  tfoot {
    display: table-footer-group;
  }
  col {
    display: table-column;
  }
  colgroup {
    display: table-column-group;
  }
  td,
  th {
    display: table-cell;
  }
  caption {
    display: table-caption;
  }
  .news-box {
    padding: 3rem;
  }
}

@media screen and (prefers-color-scheme: dark) {
  body {
    color: var(--body-color-dark);
    background: var(--bg-color-dark);
  }
  code,
  pre,
  kbd,
  samp {
    color: var(--code-bg-color);
    background-color: var(--bg-color);
  }
  .nav-links a {
    color: var(--body-color-dark);
  }
  .site-description {
    color: var(--body-color-dark-secondary);
  }
  .news-box,
  .series {
    color: var(--bg-color-dark);
  }
  .lastfm-widget {
    border-top: 1px solid var(--body-color-dark-secondary);
  }
}
