---
layout: layout.njk
title: "Articles/Tutorials"
description: "Blog for Andrew Ford a full stack developer from Tauranga, New Zealand"
---


<ul class="article-list">
    {%- for article in collections.articles reversed -%}
    <li class="article-list-item">
        {%- if article.data.draft == false -%}
        <h2 class="article-title"><a href="{{ article.url }}">{{ article.data.title }}</a></h2>
        <p class="article-description">{{ article.data.description }}</p>
        {%- endif -%}
    </li>
    {%- endfor -%}
</ul>