:root {
	--link-color: #366a92;
	--body-color: #333;
	--body-color-secondary: rgb(100, 100, 100);
	--bg-color: #fff;
	--box-bg-color: #f1f9ff;
	--box-bg-color2: #e1e4e6;
	--box-border-color: #33333308;
	--code-bg-color: #282a36;
	--font-mono: Menlo, Consolas, Monaco, Liberation Mono, Lucida Console,
		monospace;
	--font-sans: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Helvetica,
		Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol";
	--font-serif: Iowan Old Style, Apple Garamond, Baskerville, Times New Roman,
		Droid Serif, Times, Source Serif Pro, serif, Apple Color Emoji,
		Segoe UI Emoji, Segoe UI Symbol;
	--code-color: #fff;
	--promo-border: #33333308;
	--promo-color: #000;
	--promo-cta-color: #fff;
	--header-bg-color: #ffffffcc;
	--header-shadow: #eaeaea;
}	
@media (prefers-color-scheme: dark) {
	:root {
		--link-color: #79a9cd;
		--body-color: #eee;
		--body-color-secondary: rgb(230, 230, 230);
		--bg-color: #121212;
		--header-bg-color: #12121200;
		--header-shadow: #242424;
	}
}
html {
	scroll-behavior: smooth;
}
.body {
	font-family: var(--font-sans);
	color: var(--body-color);
	font-size: 1.13rem;
	line-height: 1.6rem;
	background-color: var(--bg-color);
}
/* https://www.a11yproject.com/posts/how-to-hide-content/ */
.visually-hidden:not(:focus):not(:active) {
	clip: rect(0 0 0 0);
	clip-path: inset(50%);
	height: 1px;
	overflow: hidden;
	position: absolute;
	white-space: nowrap;
	width: 1px;
}
.header,
.footer {
	margin-bottom: 2rem;
}
.wrapper {
	max-width: 100ch;
	margin: 0 auto;
	padding: 0 1rem;
}
.header-titles {
	text-align: center;
}
main.wrapper {
	min-height: 60vh;
}
a,
a:visited {
	color: var(--link-color);
	padding: 0.0625rem;
}
a:hover,
a:active {
	background-color: var(--link-color);
	color: #fff;
	text-decoration: none;
	border-radius: 0.1rem;
}
a.no-hover:hover,
a.no-hover:active {
	background-color: transparent;
}
hr {
	border: 0;
	border-top: 1px solid var(--body-color);
	margin: 2rem 0;
}
h1,
h2,
h3,
h4,
h5,
h6 {
	margin-top: 0;
	letter-spacing: -1px;
	text-wrap: balance;
}
.article :is(h2, h3, h4, h5, h6) {
	margin-top: 3rem;
}
h4:is(.footnotes-title) {
	margin-top: 0;
}
h1 {
	font-size: 3rem;
	line-height: 3.2rem;
	min-height: 3.3rem; 
}
h2 {
	font-size: 2.5rem;
	line-height: 2.6rem;
	min-height: 2.7rem;
}
h3 {
	font-size: 2rem;
	line-height: 2.1rem;
	min-height: 2.2rem;
}
.article-datetime {
	font-size: 1.5rem;
	color: var(--body-color-secondary);
}
.article-list {
	padding-left: 0;
}
.article-list-item {
	display: flex;
	flex-direction: column;
	margin-bottom: 0.5rem;
}
.article-heading {
	text-align: center;
}
.article-title {
	margin-top: 0;
	width: 100%;
	margin-bottom: 0;
	text-wrap: balance;
}
.article-description {
	margin-top: 0;
}
.logo {
	width: 2rem;
	height: 2rem;
	border: 1px solid #fff;
	border-radius: 50%;
}
.avatar {
	display: flex;
	margin: 0 auto;
	text-decoration: none;
	text-align: center;
}
.avatar:hover {
	background-color: transparent;
}
.site-title {
	font-size: 1.5rem;
	margin-bottom: 0;
	font-family: var(--font-serif);
}
.site-description {
	font-size: 0.9rem;
	color: var(--body-color-secondary);
	margin-bottom: 0;
}
.nav {
	text-align: end;
}
.nav-links {
	padding-left: 0;
	margin: 0;
	font-size: 0.8rem;
}
.nav-links-footer {
	text-align: center;
	color: var(--body-color-secondary);
}
.nav-links li {
	display: inline-block;
	list-style: none;
	padding: 0.2rem 0.4rem;
}
.nav-links a {
	color: var(--body-color);
}
.nav-links a:hover {
	background-color: transparent;
}
.hide {
	color: transparent;
}
article ul {
	padding-left: 2rem;
}
.lastfm-widget {
	padding-top: 1.5rem;
	font-size: 0.9rem;
	line-height: 1.2;
	display: grid;
	grid-template-columns: min-content auto;
	gap: 0.5rem;
	margin: 0.75rem auto 5rem auto;
	max-width: 70%;
}
.lastfm-img {
	border-radius: 0.25rem;
}
.lastfm-title {
	font-size: 0.7rem;
	margin-bottom: 0.2rem;
}
a.lastfm-icon {
	color: var(--body-color);
}
a.lastfm-icon svg {
	fill: var(--body-color);
}
a.lastfm-icon:hover {
	color: var(--link-color);
	background-color: transparent;
}
a.lastfm-icon:hover svg {
	fill: var(--link-color);
}
.center {
	text-align: center;
}
.body {
	margin: 0;
}
.secondary {
	color: var(--body-color-secondary);
}