---
layout: layouts/home.njk
eleventyNavigation:
  key: Home
  order: 1
numberOfLatestPostsToShow: 3
---
{% set postsCount = collections.articles | length %}
{% set latestPostsCount = postsCount | min(numberOfLatestPostsToShow) %}
<h3>Latest {{ latestPostsCount }} Post{% if latestPostsCount != 1 %}s{% endif %}
</h3>

{% set postslist = collections.posts | head(-1 * numberOfLatestPostsToShow) %}
{% set postslistCounter = postsCount %}
{% include "postslist.njk" %}

{% set morePosts = postsCount - numberOfLatestPostsToShow %}
{% if morePosts > 0 %}
  <p>{{ morePosts }} more post{% if morePosts != 1 %}s{% endif %} can be found in <a href="/article/">the articles</a>.</p>
{% endif %}

<ul>
  {%- if latestVideos.videos.length > 0 -%}
  {# Latest Videos:  {{ latestVideos.videos | length }} #}
    {%- for video in latestVideos.videos -%}
      {% if loop.index <= numberOfLatestPostsToShow -%}
        <li>
          <img src={{ video.snippet.thumbnails.high.url }} alt={{ video.snippet.title }} />
          {{ video.snippet.title }}
        </li>
      {%- endif -%}
    {%- endfor -%}
  {%- endif -%}
</ul>

{# List every content page in the project #}
{# 
<ul>
	{%- for entry in collections.all %}
	<li><a href="{{ entry.url }}"><code>{{ entry.url }}</code></a></li>
	{%- endfor %}
</ul> #}

<ul>
  {%- for article in collections.articles -%}
    {% set absolutePostUrl %}{{ article.url | url | absoluteUrl(metadata.url) }}{% endset %}
    {%- if article.data.draft == false and loop.index <= numberOfLatestPostsToShow -%}
      <li>
        <a href={{ absolutePostUrl }}>{{ article.data.title }}</a>
      </li>
    {%- endif -%}
  {%- endfor %}
</ul>