<div id="assittewidget"></div>
<script>
    window.assistteSettings = {
        org_id: "a1d13ab2-1518-4f4d-94f0-b2a9a9f30e58",
        support_email: "me@andrewford.co.nz", // Email address
    };
</script>
<script src="https://assistte-widget.netlify.app/assistte.js"></script>