{% set socialImageUrl %}
{%- resoc
  template = "default",
  slug = (title or metadata.title) | slug,
  values = {
    title: title or metadata.title,
    background: socialBackground
  }
-%}
{% endset %}
<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="utf-8" />
  <title>{{ heading or title }} - Andrew Ford -</title>
  <link rel="icon" href="{{ '/images/andrew-avatar.webp' }}" />
  <link rel="apple-touch-icon" sizes="180x180" href="{{ '/apple-touch-icon.png' }}">
  <link rel="icon" type="image/png" sizes="32x32" href="{{ '/favicon-32x32.png' }}">
  <link rel="icon" type="image/png" sizes="16x16" href="{{ '/favicon-16x16.png' }}">
  <link rel="manifest" href="{{ '/site.webmanifest' }}">
  <meta name="msapplication-TileColor" content="#da532c">
  <meta name="theme-color" content="#ffffff">
  {% set css %}
    {% include "critical.css" %}
  {% endset %}
  <style>
    {{ css | cssmin | safe }}
  </style>
  <link rel="preload" href="{{ '/css/style.css' }}?5" as="style" onload="this.onload=null;this.rel='stylesheet'">
  <link rel="preload" href="{{ '/css/prism-dracula.css' }}?1" as="style" onload="this.onload=null;this.rel='stylesheet'">
  <noscript>
    <link rel="stylesheet" href="{{ '/css/style.css' }}?5">
    <link rel="stylesheet" href="{{ '/css/prism-dracula.css' }}?1">
  </noscript>
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  <meta name="description" content="{{ description }}" />
  <link rel="alternate" type="application/rss+xml" title="Blog by Andrew Ford" href="/feed.xml" />
  <meta property="og:title" content="{{ heading or title or metadata.title or "Andrew Ford" }}" />
  <meta property="og:description" content="{{ description or metadata.description }}" />
  <meta property="og:image" content="https://andrewford.co.nz{{ socialImageUrl }}" />
  <meta property="og:image:width" content="1200" />
  <meta property="og:image:height" content="630" />
  <meta name="twitter:card" content="summary_large_image">
  <meta property="twitter:domain" content="andrewford.co.nz">
  <meta property="twitter:url" content="{{ page.url }}">
  <meta name="twitter:title" content="{{ heading or title or metadata.title or "Andrew Ford" }}">
  <meta name="twitter:description" content="{{ description or metadata.description }}">
  <meta name="twitter:image" content="https://andrewford.co.nz{{ socialImageUrl }}">
  <link rel="modulepreload" href="{{ '/scripts/script.js' }}?1" />
  <script src="{{ '/scripts/script.js' }}?1" type="module"></script>
</head>

<body>
  <header class="wrapper">
    <div class="avatar-wrapper">
      <a href="{{ '/' }}" class="avatar">
        <picture>
          <source type="image/webp" srcset="https://andrewford.co.nz/images/andrew-avatar.webp, https://andrewford.co.nz/images/andrew-avatar@2x.webp 2x">
          <source type="image/png" srcset="https://andrewford.co.nz/images/andrew-avatar.png, https://andrewford.co.nz/images/andrew-avatar@2x.png 2x">
          <img alt="Avatar for Andrew Ford" loading="lazy" decoding="async" src="https://andrewford.co.nz/images/andrew-avatar.png" width="112" height="111">
        </picture>
        <span class="hide">Home</span>
      </a>
      <h1 class="site-title">Andrew "Drew" Ford</h1>
      <h2 class="site-description">
        Full Stack Developer / Instructor from Tauranga, New Zealand
      </h2>
    </div>
    <nav>
      <ul class="nav-links">
        {%- for page in collections.pages -%}
        <li>
          <a href="{{ page.url }}">{{ page.data.title }}</a>
        </li>
        {%- endfor -%}
        <li>
          <a href="https://andrewford.co.nz/archive">Archive</a>
        </li>
      </ul>
    </nav>
  </header>
  <main class="wrapper">
    <article>
      <h1 class="article-heading">{{ heading or title  }}</h1>

      <div>{{ content | safe }}</div>
    </article>

  </main>
  <footer class="wrapper">
    <ul class="nav-links">
      <li><a href="mailto:me@andrewford.co.nz">Email</a></li>
      <li><a href="https://github.com/andrewjamesford">GitHub</a></li>
      <li><a href="https://www.linkedin.com/in/andrewjamesford/">LinkedIn</a></li>
      <li><a rel="me" href="https://mastodon.nz/@andrewford">Mastodon</a></li>
      <li><a href="https://andrewford.co.nz/feed.xml">RSS</a></li>
      <li><a href="https://www.youtube.com/@CodewithAndrewFord">YouTube</a></li>
    </ul>

    <div id="lastFM" class="lastfm-widget" style="display:none">
        <img id="lastFMImg" src="" class="lastfm-img" />
        <div>
          <div class="lastfm-title">Listening to:</div>
          <div class="lastfm-link">
            <a id="lastFMLink" href=""></a>
          </div>
          <div id="lastFMAlbum" class="lastfm-album"></div>
        </div>
    </div>
    
  </footer>

</body>

</html>