{% set socialImageUrl %}
{%- resoc
  template = "default",
  slug = (title or metadata.title) | slug,
  values = {
    title: title or metadata.title,
    background: socialBackground
  }
-%}
{% endset %}
<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="utf-8" />
  <title>{{ title }}</title>
  <link rel="icon" href="{{ '/images/andrew-avatar.webp' }}" />
  <link rel="apple-touch-icon" sizes="180x180" href="{{ '/apple-touch-icon.png' }}">
  <link rel="icon" type="image/png" sizes="32x32" href="{{ '/favicon-32x32.png' }}">
  <link rel="icon" type="image/png" sizes="16x16" href="{{ '/favicon-16x16.png' }}">
  <link rel="manifest" href="{{ '/site.webmanifest' }}">
  <link rel="mask-icon" href="{{ '/safari-pinned-tab.svg' }}" color="#5bbad5">
  <meta name="msapplication-TileColor" content="#da532c">
  <meta name="theme-color" content="#ffffff">
  <link rel="preload" href="{{ '/css/style.css' }}" as="style" />
  <link rel="stylesheet" href="{{ '/css/style.css' }}" />
  <link rel="preload" href="{{ '/css/prism-dracula.css' }}" as="style" onload="this.onload=null;this.rel='stylesheet'">
  <noscript><link rel="stylesheet" href="{{ '/css/prism-dracula.css' }}"></noscript>
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  <meta name="description" content="{{ description }}" />
  <link rel="alternate" type="application/rss+xml" title="Blog by Andrew Ford" href="/feed.xml" />
  <meta property="og:title" content="{{ title or metadata.title }}" />
  <meta property="og:description" content="{{ description or metadata.description }}" />
  <meta property="og:image" content="{{ socialImageUrl }}" />
  <meta property="og:image:width" content="1200" />
  <meta property="og:image:height" content="630" />

</head>

<body>
  <header class="wrapper">
    <div class="avatar-wrapper">
      <a href="{{ '/' }}" class="avatar">
        <span class="hide">Home</span>
      </a>
      <h1 class="site-title">Andrew "Drew" Ford</h1>
      <h2 class="site-description">
        Full Stack Developer / Instructor from Tauranga, New Zealand
      </h2>
    </div>
    <nav>
      <ul class="nav-links">
        {%- for page in collections.pages -%}
        <li>
          <a href="{{ page.url }}">{{ page.data.title }}</a>
        </li>
        {%- endfor -%}
        <li>
          <a href="https://andrewford.co.nz/archive">Archive</a>
        </li>
      </ul>
    </nav>
  </header>
  <main class="wrapper">
    <article>
      <h1 class="article-heading">{{ title }}</h1>

      <div>{{ content | safe }}</div>
    </article>
  </main>
  <footer class="wrapper">
    <ul class="nav-links">
      <li><a href="https://github.com/andrewjamesford">Github</a></li>
      <li><a href="https://www.linkedin.com/in/andrewjamesford/">LinkedIn</a></li>
      <li><a href="mailto:me@andrewford.co.nz">Email</a></li>
      <li><a href="https://andrewford.co.nz/feed.xml">RSS</a></li>

    </ul>
  </footer>
  <script src="{{ '/scripts/modernizr-custom.js' }}"></script>
</body>

</html>