<div class="news-box">
    <div class="news-content">
        <div class="news-heading">Join the Newsletter</div>
        For all my latest news, blog articles and updates. Subscribe to stay in the loop.
    </div>
    <form action="https://app.gumroad.com/follow_from_embed_form" class="form" method="post">
        <input name="seller_id" type="hidden" value="8628720354776">
        <input name="email" placeholder="Your email address" type="email" class="form-element" required>
        <button data-custom-highlight-color="" type="submit" class="form-element form-button">Follow</button>
    </form>
</div>