<div class="series">
    <h4 class="series-heading">
        Build a shop with Next.js and Stripe
    </h4>
    <p class="series-body">This article is part of a series, find the rest of the parts here:</p>
    <ul class="series-list">
        <li><a href="{{ "/articles/shop-nextjs-stripe-introduction/" }}">Part 1 - Introduction</a></li>
        <li><a href="{{ "/articles/shop-nextjs-stripe-account-set-up/" }}">Part 2 - Account set up</a></li>
        <li><a href="{{ "/articles/shop-nextjs-stripe-display-products/" }}">Part 3 - Display Products</a></li>
        {%- comment -%} <li><a href="{{ "/articles/shop-nextjs-stripe-checkout/" }}">Part 4 - Checkout</a></li> {%- endcomment -%}
    </ul>
</div>