{% comment %} Copy image into directory of markdown file {% endcomment %}
<div class="product">
    <img width="604" height="241" class="product-img" src="/images/TailwindFlexboxCover.jpg" loading="lazy" alt="Tailwind Flexbox Cheatsheet"/>
  <div class="product-title">
    <a href="https://andrewford.gumroad.com/l/tailwindcheatsheet">Tailwind Flexbox Cheatsheet</a>
  </div>
  <p class="product-body">
    Having trouble with flexbox layout using Tailwind CSS? This cheatsheet can help you quickly find the right class style for your next flexbox layout, with diagrams included.</p>
<a href="https://andrewford.gumroad.com/l/tailwindcheatsheet" class="product-cta">Pay what you want</a>
</div>