{% comment %} Copy image into directory of markdown file {% endcomment %}
<div class="promotion">
    {% image "./images/Tailwind-Grid-Cheatsheet-Cover.webp", "Tailwind Grid Cheatsheet", "(min-width: 30em) 50vw, 100vw" %}
  <div class="promotion-title">
    <a href="https://andrewford.gumroad.com/l/tailwindgridcheatsheet">Tailwind Grid Cheatsheet</a>
  </div>
  <p class="promotion-body">
    Having trouble with grid layout using Tailwind CSS? This cheatsheet can help you quickly find the right class style for your next grid layout, with diagrams included.</p>
<a href="https://andrewford.gumroad.com/l/tailwindgridcheatsheet" class="promotion-cta">Pay what you want</a>
</div>