{% comment %} Copy image into directory of markdown file {% endcomment %}
<div class="product">
  <a href="https://andrewford.gumroad.com/l/tailwindcheatsheet">
    <img width="604" height="241" class="product-img" src="./TailwindFlexboxCover.jpg" loading="lazy" alt="Tailwind Flexbox Cheatsheet"/></a>
  <div class="product-title">
    <a href="https://andrewford.gumroad.com/l/tailwindcheatsheet">Tailwind Flexbox Cheatsheet</a>
  </div>
  <p class="product-body">
    Struggled with flexbox layout in Tailwind CSS? Use this cheatsheet to quickly know the class style to use for your next flexbox layout.</p>
<a href="https://andrewford.gumroad.com/l/tailwindcheatsheet" class="product-cta">Pay what you want</a>
</div>