<div class="product">
    <a href="https://andrewford.gumroad.com/l/XgkCC"><img class="product-img" src="./TailwindFlexboxCover.jpg" /></a>
    <div class="product-title">
        <a href="https://andrewford.gumroad.com/l/XgkCC">Tailwind Flexbox Cheatsheet</a>
    </div>
    <p class="product-body">Struggled with flexbox layout in Tailwind CSS? Use this cheatsheet to quickly know the class
        style to use for
        your next flexbox layout.</p>
</div>