---
# Metadata comes from _data/metadata.js
permalink: /feed/feed.xml
---
<?xml version="1.0" encoding="utf-8"?>
<feed xmlns="http://www.w3.org/2005/Atom" xml:base="https://andrewford.co.nz">
	<title>Andrew Ford</title>
	<subtitle>Andrew Ford is the host of Code with Andrew Ford, a YouTube channel dedicated to teaching you how to code. He is also a full-stack web developer, technical analyst and an educator.</subtitle>
	<link href="https://andrewford.co.nz/feed/feed.xml" rel="self"/>
	<link href="https://andrewford.co.nz"/>
	<updated>{{ collections.articles | getNewestCollectionItemDate | dateToRfc3339 }}</updated>
	<id>https://andrewford.co.nz</id>
	<author>
		<name>Andrew Ford</name>
		<email>me@andrewford.co.nz</email>
	</author>
	{%- for article in collections.articles | reverse %}
	{% set absoluteArticleUrl %}{{ article.url | htmlBaseUrl(metadata.url) }}{% endset %}
	<entry>
		<title>{{ article.data.title }}</title>
		<link href="{{ absoluteArticleUrl }}"/>
		<updated>{{ article.date | dateToRfc3339 }}</updated>
		<id>{{ absoluteArticleUrl }}</id>
		<content type="html">{{ article.templateContent | transformWithHtmlBase(absolutePostUrl, post.url) }}</content>
	</entry>
	{%- endfor %}
</feed>
