---
# Metadata comes from _data/metadata.js
permalink: /feed/feed.json
---
{
	"version": "https://jsonfeed.org/version/1.1",
	"title": "Andrew Ford",
	"language": "en-NZ",
	"home_page_url": "https://andrewford.co.nz",
	"feed_url": "https://andrewford.co.nz/feed/feed.json",
	"description": "Andrew Ford is the host of Code with Andrew Ford, a YouTube channel dedicated to teaching you how to code, a full-stack web developer, mentor and an educator.",
	"author": {
		"name": "Andrew Ford",
		"url": "me@andrewford.co.nz"
	},
	"items": [
		{%- for article in collections.articles | reverse %}
	{%- set absoluteArticleUrl = article.url | htmlBaseUrl(metadata.fullUrl) %}
		{
			"id": "{{ absoluteArticleUrl }}",
			"url": "{{ absoluteArticleUrl }}",
			"title": "{{ article.data.title }}",
			"content_html": {% if article.templateContent %}{{ article.templateContent | transformWithHtmlBase(absoluteArticleUrl, article.url) | dump | safe }}
	{% else %}""{% endif %},
			"date_published": "{{ article.date | dateToRfc3339 }}"
		}
		{% if not loop.last %},{% endif %}
{%- endfor %}
]	
}
