{%- if page.inputPath.includes('/articles/') or page.inputPath.includes('/archive/') -%}
<script type="application/ld+json">
{
  "@context": "https://schema.org",
  "@type": "Article",
  "headline": "{{ title | safe }}",
  "description": "{{ description or content | striptags | truncate(160) | safe }}",
  "author": {
    "@id": "{{ metadata.fullUrl }}/#person"
  },
  "datePublished": "{{ page.date | htmlDateString }}",
  "dateModified": "{{ page.date | htmlDateString }}",
  "publisher": {
    "@id": "{{ metadata.fullUrl }}/#organization"
  },
  "mainEntityOfPage": {
    "@type": "WebPage",
    "@id": "{{ metadata.fullUrl }}{{ page.url }}"
  },
  "image": {
    "@type": "ImageObject",
    "url": "{{ metadata.fullUrl }}/ogimage/{{ ogimage or 'social-card.png' }}",
    "width": 1200,
    "height": 630
  }
  {%- if tags and tags.length > 0 -%},
  "keywords": "{{ tags | filterTagList | join(', ') }}"
  {%- endif -%}
  {%- if relatedPosts and relatedPosts.calculateRelated -%}
    {%- set relatedPostsList = relatedPosts.calculateRelated(collections.posts, { url: page.url, data: { tags: tags, draft: draft } }) -%}
    {%- if relatedPostsList.length > 0 -%},
  "relatedLink": [
      {%- for post in relatedPostsList | head(5) -%}
        "{{ metadata.fullUrl }}{{ post.url }}"
        {%- if not loop.last -%},{%- endif -%}
      {%- endfor -%}
  ]
    {%- endif -%}
  {%- endif -%}
}
</script>
{%- endif -%}
