<script type="application/ld+json">
{
  "@context": "https://schema.org",
  "@type": "Organization",
  "@id": "{{ metadata.fullUrl }}/#organization",
  "name": "Andrew Ford",
  "alternateName": "Code with Andrew Ford",
  "url": "{{ metadata.fullUrl }}",
  "description": "Andrew Ford is a software engineer, mentor and educator from Tauranga, New Zealand.",
  "logo": {
    "@type": "ImageObject",
    "url": "{{ metadata.fullUrl }}/ogimage/AF-Logo.png",
    "width": 512,
    "height": 512
  },
  "sameAs": [
    "https://www.youtube.com/@CodewithAndrewFord",
    "https://github.com/andrewjamesford",
    "https://www.linkedin.com/in/andrewjamesford/"
  ],
  "contactPoint": {
    "@type": "ContactPoint",
    "email": "hireme@andrewford.co.nz",
    "contactType": "customer service",
    "availableLanguage": "English"
  }
}
</script>
