{%- if primaryVideo and primaryVideo.title and primaryVideo.description and primaryVideo.thumbnailUrl and primaryVideo.uploadDate and primaryVideo.embedUrl and primaryVideo.contentUrl and primaryVideo.duration -%}
<script type="application/ld+json">
{
  "@context": "https://schema.org",
  "@type": "VideoObject",
  "name": "{{ primaryVideo.title | safe }}",
  "description": "{{ primaryVideo.description | safe }}",
  "thumbnailUrl": "{{ primaryVideo.thumbnailUrl }}",
  "uploadDate": "{{ primaryVideo.uploadDate }}",
  "duration": "{{ primaryVideo.duration }}",
  "embedUrl": "{{ primaryVideo.embedUrl }}",
  "contentUrl": "{{ primaryVideo.contentUrl }}",
  "author": {
    "@id": "{{ metadata.fullUrl }}/#person"
  }
}
</script>
{%- endif -%}
