{%- if page.url == '/' -%}
<script type="application/ld+json">
{
  "@context": "https://schema.org",
  "@type": "WebSite",
  "name": "Andrew Ford",
  "alternateName": "Code with Andrew Ford",
  "url": "{{ metadata.fullUrl }}",
  "description": "{{ metadata.description }}",
  "publisher": {
    "@type": "Organization",
    "name": "Andrew Ford",
    "logo": {
      "@type": "ImageObject",
      "url": "{{ metadata.fullUrl }}/ogimage/AF-Logo.png",
      "width": 512,
      "height": 512
    }
  },
  "potentialAction": {
    "@type": "SearchAction",
    "target": {
      "@type": "EntryPoint",
      "urlTemplate": "{{ metadata.fullUrl }}/search?q={search_term_string}"
    },
    "query-input": "required name=search_term_string"
  }
}
</script>
{%- endif -%}