<script type="application/ld+json">
{
  "@context": "https://schema.org",
  "@type": "WebSite",
  "@id": "{{ metadata.fullUrl }}/#website",
  "name": "Andrew Ford",
  "alternateName": "Code with Andrew Ford",
  "url": "{{ metadata.fullUrl }}",
  "description": "{{ metadata.description }}",
  "publisher": {
    "@id": "{{ metadata.fullUrl }}/#organization"
  },
  "potentialAction": {
    "@type": "SearchAction",
    "target": {
      "@type": "EntryPoint",
      "urlTemplate": "{{ metadata.fullUrl }}/search?q={search_term_string}"
    },
    "query-input": "required name=search_term_string"
  }
}
</script>
