---
layout: layouts/base.njk
---

{% include "components/breadcrumb.njk" %}

<h1>{{ title }}</h1>

{{ content | safe }}

<ul class="article-list">
	{%- for archiveItem in collections.archive | reverse %}
		{% set absolutePostUrl %}{{ archiveItem.url | url | absoluteUrl(metadata.fullUrl) }}{% endset %}
		{%- if archiveItem.data.draft == false -%}
			<li class="article-list-item">
				<h4 class="article-title">
					<a href={{ absolutePostUrl }}>{{ archiveItem.data.title }}</a>
				</h4>
				<p class="article-description">{{ archiveItem.data.description }}</p>
			</li>
		{%- endif -%}
	{%- endfor %}
</ul>