---
layout: layouts/base.njk
---
{# Only include the syntax highlighter CSS on blog posts #}
{%- css %}{% include "public/css/prism-dracula.css" %}{% endcss %}
{%- css %}{% include "public/css/prism-diff.css" %}{%- endcss %}
<h1>{{ title }}</h1>

<h2>Archives</h2>
{{ content | safe }}

<ul>
{%- for archiveItem in collections.archive %}
{% set absolutePostUrl %}{{ archiveItem.url | url | absoluteUrl(metadata.url) }}{% endset %}
  {%- if archiveItem.data.draft == false -%}
  <li>
    <a href={{ absolutePostUrl }}>{{ archiveItem.data.title }}</a>
    
  </li>
  {%- endif -%}
{%- endfor %}
</ul>


