---
layout: layouts/base.njk
---

<h1>{{ title }}</h1>

{{ content | safe }}

<ul class="article-list">
{%- for note in collections.notes | reverse %}
  {% set absoluteNoteUrl %}{{ note.url | url | absoluteUrl(metadata.fullUrl) }}{% endset %}
  <li class="article-list-item">
    <h4 class="article-title">
      <a href={{ absoluteNoteUrl }}>{{ note.data.title }}</a>
    </h4>
    <p class="article-description">{{ note.data.description }}</p>
  </li>
{%- endfor %}
</ul>