<link rel="preconnect" href="https://fonts.googleapis.com">
<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
<link href="https://fonts.googleapis.com/css2?family=Roboto:wght@400&display=swap" rel="stylesheet">



<div class="wrapper {{ background }}">
  <main>
    <h1>{{ title }}</h1>
  </main>
  <footer class="footer">
    <img src="andrew-avatar.png" />
    <h2>Andrew Ford</h2>
  </footer>
</div>

<script src="textFit.js"></script>
<script>
  window.onload = function() {
    textFit(document.getElementById('title'), { maxFontSize: 500, multiLine: true });
  };
</script>
