@import url("https://fonts.googleapis.com/css2?family=Fira+Sans:wght@800&display=swap");

.wrapper {
  font-family: "Fira Sans", sans-serif;

  padding: 4vw;

  background: rgb(7, 68, 144);

  background-image: repeating-linear-gradient(
      0deg,
      rgba(25, 208, 33, 0.1) 0px,
      rgba(25, 208, 33, 0.1) 1px,
      transparent 1px,
      transparent 13px
    ),
    repeating-linear-gradient(
      90deg,
      rgba(25, 208, 33, 0.1) 0px,
      rgba(25, 208, 33, 0.1) 1px,
      transparent 1px,
      transparent 13px
    ),
    linear-gradient(90deg, rgb(51, 68, 134), rgb(71, 224, 241));
  color: white;

  display: flex;
  flex-direction: column;
  align-items: stretch;
  gap: 10vh;
}

.bg1 {
  background-image: radial-gradient(
      circle at 17% 77%,
      rgba(17, 17, 17, 0.04) 0%,
      rgba(17, 17, 17, 0.04) 50%,
      rgba(197, 197, 197, 0.04) 50%,
      rgba(197, 197, 197, 0.04) 100%
    ),
    radial-gradient(
      circle at 26% 17%,
      rgba(64, 64, 64, 0.04) 0%,
      rgba(64, 64, 64, 0.04) 50%,
      rgba(244, 244, 244, 0.04) 50%,
      rgba(244, 244, 244, 0.04) 100%
    ),
    radial-gradient(
      circle at 44% 60%,
      rgba(177, 177, 177, 0.04) 0%,
      rgba(177, 177, 177, 0.04) 50%,
      rgba(187, 187, 187, 0.04) 50%,
      rgba(187, 187, 187, 0.04) 100%
    ),
    linear-gradient(19deg, rgb(28, 117, 250), rgb(34, 2, 159));
}

.bg2 {
  background-image: linear-gradient(
      41deg,
      rgba(107, 107, 107, 0.04) 0%,
      rgba(107, 107, 107, 0.04) 8%,
      rgba(31, 31, 31, 0.04) 8%,
      rgba(31, 31, 31, 0.04) 100%
    ),
    linear-gradient(
      9deg,
      rgba(228, 228, 228, 0.04) 0%,
      rgba(228, 228, 228, 0.04) 62%,
      rgba(54, 54, 54, 0.04) 62%,
      rgba(54, 54, 54, 0.04) 100%
    ),
    linear-gradient(
      124deg,
      rgba(18, 18, 18, 0.04) 0%,
      rgba(18, 18, 18, 0.04) 37%,
      rgba(233, 233, 233, 0.04) 37%,
      rgba(233, 233, 233, 0.04) 100%
    ),
    linear-gradient(
      253deg,
      rgba(201, 201, 201, 0.04) 0%,
      rgba(201, 201, 201, 0.04) 55%,
      rgba(47, 47, 47, 0.04) 55%,
      rgba(47, 47, 47, 0.04) 100%
    ),
    linear-gradient(
      270deg,
      rgba(172, 172, 172, 0.04) 0%,
      rgba(172, 172, 172, 0.04) 33%,
      rgba(26, 26, 26, 0.04) 33%,
      rgba(26, 26, 26, 0.04) 100%
    ),
    linear-gradient(
      64deg,
      rgba(11, 11, 11, 0.04) 0%,
      rgba(11, 11, 11, 0.04) 38%,
      rgba(87, 87, 87, 0.04) 38%,
      rgba(87, 87, 87, 0.04) 100%
    ),
    linear-gradient(
      347deg,
      rgba(199, 199, 199, 0.04) 0%,
      rgba(199, 199, 199, 0.04) 69%,
      rgba(4, 4, 4, 0.04) 69%,
      rgba(4, 4, 4, 0.04) 100%
    ),
    linear-gradient(
      313deg,
      rgba(36, 36, 36, 0.04) 0%,
      rgba(36, 36, 36, 0.04) 20%,
      rgba(91, 91, 91, 0.04) 20%,
      rgba(91, 91, 91, 0.04) 100%
    ),
    linear-gradient(90deg, rgb(10, 17, 72), rgb(35, 148, 228));
}
.bg3 {
  background-image: linear-gradient(
    45deg,
    rgb(20, 222, 124) 0%,
    rgb(20, 222, 124) 21%,
    rgb(25, 190, 119) 21%,
    rgb(25, 190, 119) 37%,
    rgb(30, 158, 113) 37%,
    rgb(30, 158, 113) 46%,
    rgb(35, 126, 108) 46%,
    rgb(35, 126, 108) 53%,
    rgb(39, 94, 103) 53%,
    rgb(39, 94, 103) 59%,
    rgb(44, 62, 97) 59%,
    rgb(44, 62, 97) 77%,
    rgb(49, 30, 92) 77%,
    rgb(49, 30, 92) 100%
  );
}
.bg4 {
  background-image: linear-gradient(
      161deg,
      rgba(117, 117, 117, 0.03) 0%,
      rgba(117, 117, 117, 0.03) 50%,
      rgba(8, 8, 8, 0.03) 50%,
      rgba(8, 8, 8, 0.03) 100%
    ),
    linear-gradient(
      59deg,
      rgba(245, 245, 245, 0.05) 0%,
      rgba(245, 245, 245, 0.05) 50%,
      rgba(68, 68, 68, 0.05) 50%,
      rgba(68, 68, 68, 0.05) 100%
    ),
    linear-gradient(
      286deg,
      rgba(107, 107, 107, 0.07) 0%,
      rgba(107, 107, 107, 0.07) 50%,
      rgba(7, 7, 7, 0.07) 50%,
      rgba(7, 7, 7, 0.07) 100%
    ),
    linear-gradient(
      123deg,
      rgba(9, 9, 9, 0.09) 0%,
      rgba(9, 9, 9, 0.09) 50%,
      rgba(120, 120, 120, 0.09) 50%,
      rgba(120, 120, 120, 0.09) 100%
    ),
    linear-gradient(
      170deg,
      rgba(202, 202, 202, 0.01) 0%,
      rgba(202, 202, 202, 0.01) 50%,
      rgba(19, 19, 19, 0.01) 50%,
      rgba(19, 19, 19, 0.01) 100%
    ),
    linear-gradient(
      210deg,
      rgba(64, 64, 64, 0.04) 0%,
      rgba(64, 64, 64, 0.04) 50%,
      rgba(4, 4, 4, 0.04) 50%,
      rgba(4, 4, 4, 0.04) 100%
    ),
    linear-gradient(90deg, rgb(249, 17, 190), rgb(100, 28, 213));
}
.bg5 {
  background-image: linear-gradient(
      0deg,
      rgba(52, 203, 241, 0.5) 0%,
      rgba(52, 203, 241, 0.5) 63%,
      transparent 63%,
      transparent 69%,
      rgba(65, 121, 236, 0.5) 69%,
      rgba(65, 121, 236, 0.5) 100%
    ),
    linear-gradient(
      90deg,
      rgb(52, 203, 241) 0%,
      rgb(52, 203, 241) 11%,
      transparent 11%,
      transparent 20%,
      rgb(65, 121, 236) 20%,
      rgb(65, 121, 236) 30%,
      rgb(69, 94, 234) 30%,
      rgb(69, 94, 234) 100%
    ),
    linear-gradient(90deg, rgb(255, 255, 255), rgb(255, 255, 255));
}
.bg6 {
  background-image: linear-gradient(90deg, #00DBDE 0%, #FC00FF 100%);
}
.bg7 {
  background-image: linear-gradient(135deg, #8BC6EC 0%, #9599E2 100%);
}
.bg8 {
  background-image: linear-gradient(0deg, #08AEEA 0%, #2AF598 100%);
}
.bg9 {
  background-image: linear-gradient(19deg, #21D4FD 0%, #B721FF 100%);
}
.bg10 {
  background-image: linear-gradient(90deg, #9ebd13 0%, #008552 100%);
}
h1 {
  text-align: right;
}
h2 {
  color: #fff;
  font-weight: 800;
}
.footer {
  display: flex;
  align-items: center;
  gap: 5vh;
  backdrop-filter: saturate(180%);
  background-color: rgba(78, 78, 78, 0.75);
  font-size: 6vh;
  position: absolute;
  bottom: 0;
  left: 0;
  right: 0;
  width: 100%;
}
.footer img {
  border-radius: 50%;
  margin-left: 2.5vw;
}
